name: Release builds

on: workflow_dispatch

permissions:
  contents: write

jobs:
  release:
    name: Release ${{ matrix.target-platform && format('{0} ', matrix.target-platform) || '' }}${{ matrix.build-type == 'lite' && 'Lite' || '' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build-type: [ 'standard', 'lite' ]
#        target-platform: [ '', 'android', 'freebsd', 'linux_musl', 'linux_musl_arm' ]
        target-platform: [ '', 'android', 'linux_musl', 'linux_musl_arm' ]
    steps:

      - name: Free Disk Space (Ubuntu)
        if: matrix.target-platform == ''
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.0'

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install dependencies
        if: matrix.target-platform == ''
        run: |
          sudo snap install zig --classic --beta
          docker pull crazymax/xgo:latest
          go install github.com/crazy-max/xgo@latest
          sudo apt install upx

      - name: Build
        run: |
          bash build.sh release ${{ matrix.build-type == 'lite' && 'lite' || '' }} ${{ matrix.target-platform }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FRONTEND_REPO: ${{ vars.FRONTEND_REPO }}

      - name: Upload assets
        uses: softprops/action-gh-release@v2
        with:
          files: build/compress/*
          tag_name: openlist

